* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  background-color: #f0f5ff;
  /* display: flex; */
  align-items: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-items: center;
}

.container {
  height: 100vh;
  width: 90vw;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.logo {
  display: block;
}

textarea {
  color: #183c72;
  border: none;
  background-color: transparent;
  width: 100%;
  height: 200px;
  font-size: 25px;
  resize: none;
  padding-top: 30px;
  padding: 15px;
}

#advertencia {
  color: rgb(164, 164, 164);
  font-size: 12px;
}

#validationMessage {
  background-color: #f0c8c8;
  border: 1px solid red;
  border-radius: 10px;
  width: 50%;
  margin: 15px auto 15px auto;
  display: none;
}

button {
  font-size: 15px;
  width: 30%;
  height: 40px;
  border-radius: 15px;
}

#btn-crypt {
  color: #fff;
  border-color: transparent;
  background: #183c72;
}

#btn-crypt:hover {
  background: #1f5374;
  text-decoration: none;
}

#btn-decrypt {
  border-width: 1px;
  color: #183c72;
  border-color: #183c72;
}

#btn-decrypt:hover {
  background: #9bbdd2;
  text-decoration: none;
}

#copyButton {
  color: #fff;
  border-color: transparent;
  background: #183c72;
}

#copyButton:hover {
  background: #1f5374;
  text-decoration: none;
}

#left-container,
#right-container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  height: 98%;
}

#right-container {
  background-color: #fff;
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 30%;
}

#left-container {
  width: 70%;
  padding-bottom: 10%;
}

#result-image {
  max-width: 100%;
  height: auto;
  display: block;
}

textarea {
  width: 80%;
  height: 90%;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

#resultado-parrafo {
  overflow: auto;
  max-height: 100%; /* ajusta la altura máxima según sea necesario */
  max-width: 80%;
}

#result-image {
  max-width: 80%;
}

#result {
  text-align: left;
  padding: 20px;
  max-width: 80%;
}

#copyMessage {
  text-align: center;
  color: rgb(51, 144, 51);
  background-color: #a0dba6;
  border: 1px solid rgb(51, 144, 51);
  border-radius: 10px;
  width: 25%;
  margin: 15px auto;
  padding: 5px;
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* responsividad- */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0px;
  }

  .logo {
    width: 25px;
  }

  #result-image {
    display: none;
  }

  textarea {
    width: 100%;
    height: 100%;
  }

  #left-container {
    height: 65avh;
    width: 100vw;
    margin-bottom: 100px;
  }

  #right-container {
    height: auto;
    width: 90vw;
    margin-bottom: 20px;
  }

  #button-container {
    display: flex;
    justify-content: space-around;
  }

  #btn-crypt {
    width: 50%;
  }
  #btn-decrypt {
    width: 45%;
  }

  #copyButton {
    border-radius: 10px;
    width: 90%;
    padding: 10px 0px 10px 0px;
  }
}

@media screen and (max-width: 375px) {
  #left-container {
    height: 50vh;
    width: 100vw;
    margin-bottom: 100px;
  }

  #right-container {
    height: 25vh;
    width: 90vw;
    margin-bottom: 20px;
  }

  #button-container {
    flex-direction: column;
    justify-content: space-around;
  }

  #btn-crypt {
    width: 100%;
  }
  #btn-decrypt {
    width: 100%;
  }
}
